.listConatiner {
    min-width: 200px;
    background-color: #ffffff;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px;
}

.imageTd {
    text-align: center;
     width: 50%;
     img {
        width: 40%;
     }
}